<%
var page = {
    title           : '請求登録',
    firstDirectory  : '請求',
    secondDirectory : '登録',
    keywords        : '',
    description     : '',
    fileName        : 'create.html',
    pageDir        : '/invoice/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="col-md-15">

            <!-- Basic layout-->
            <form action="" name="" id="" method="post">
                <div class="fm_project deco panel panel-flat">
                    <div class="panel-heading form_head">
                        <h5 class="panel-title"><%- page.title %></h5>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="">プロジェクト選択</label>
                            <select data-placeholder="" name="" class="chosen-select select-project-id form-control" id="">
                                <option value="0">-- 選択してください --</option>
                                <option value="1">プロジェクトA</option>
                                <option value="2">プロジェクトB</option>
                                <option value="3">プロジェクトC</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="">請求タイプ</label>
                            <select name="" class="select-start-time form-control" id="">
                                <option value="0">-- 請求タイプを選択してください --</option>
                                <option value="1">利用延長量</option>
                                <option value="2">違約金</option>
                                <option value="3">その他</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>請求金額</label>
                            <input type="number" name="" class="project-name form-control" placeholder="数字のみ入力してください。" value="" required />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="">料金受付締切日選択</label>
                            <fieldset class="fieldset">
                                <input class="select-deadline-day form-control" id="select-deadline-day" type="text" value="2018年12月30日">
                            </fieldset>
                        </div>

                        <div class="text-right">
                            <button type="button" class="btn-submit btn btn-primary">登録</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal modal-project fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="deco modal-header">
                <ul class="disp_error alert alert-danger list-unstyled" style="display: none;"></ul>
                <h5 class="modal-title" id="modal_title" style="position: absolute">顧客登録</h5>
                <h5 class="bt_change modal-title" data-dismiss="modal" style="margin:0 20px 0 0px;text-align: right;display: block"><span class="change_show1 bt_link">×</span></h5>
            </div>
            <div id="" style="display: block">
                <div class="modal-body">
                    <div class="deco form-group">
                        <label>顧客名</label>
                        <input type="text" name="" class="tx-create-client-name form-control" placeholder="" value="" required />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="hidden" class="mdl_uuid" value="">
                <button type="button" class="btn-client-create btn btn-primary">登録</button>
            </div>

        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

        $('#select-deadline-day').pickadate();
        $('.chosen-select').chosen();
        $('.chosen-select-start-time').chosen({
            'inherit_select_classes': true
        });

        $(document).on('click', '.btn-client-add', function(){
            $('#modal').modal('show');
        });

        $(document).on('change', '.select-client-id', function(){
            insertProjectName();
        });

        $(document).on('change', '.select-start-time', function(){
            calcFee();
            insertProjectName();
        });

        $(document).on('change', '.select-end-time', function(){
            calcFee();
            insertProjectName();
        });

        $(document).on('change', '.select-use-day', function(){
            var useDate = formatDate($('.select-use-day').val());
            var deadlineDay = calcDeadlineDay(useDate);
            $('.select-deadline-day').val(deadlineDay);
        });

        $(document).on('click', '.btn-client-create', function(){
            var clientName = $('.tx-create-client-name').val();
            createClient(clientName);
            $('#modal').modal('hide');
        });

    })(jQuery);

    function calcFee()
    {

        if($('.select-start-time').val()=='0' || $('.select-end-time').val()=='0' || Number($('.select-end-time').val()) < Number($('.select-start-time').val()))
        {
            $('.use-fee').val('');
            return false;
        }

        var useTime = (Number($('.select-end-time').val()) - Number($('.select-start-time').val()))*3800;
        $('.use-fee').val(useTime);

    }

    function calcDeadlineDay(formatDate)
    {
        var useDay = moment(formatDate);
        var nextWeekDate = moment(formatDate).add(1, "weeks");
        var deadlineDay;

        if (useDay.diff(nextWeekDate, 'days') < 0)
        {
            deadlineDay = useDay.format("YYYY年MM月DD日");
        }
        else
        {
            deadlineDay = nextWeekDate.format("YYYY年MM月DD日");
        }

        return deadlineDay;
    }

    function formatDate(date)
    {
        date = date.replace("年", "-").replace("月", "-").replace("日", "");
        return date;
    }

    function insertProjectName()
    {
        var clientName = $('.select-client-id option:selected').text();
        var startTime = Number($('.select-start-time').val());
        var endTime = Number($('.select-end-time').val());

        if($('.select-client-id option:selected').val() == '0' || startTime == '0' || endTime == '0')
        {
            return false;
        }

        $('.project-name').val(clientName + '様' + (endTime-startTime) + '時間利用')
    }

    function createClient(clientName)
    {
        if(clientName == '')
        {
            alert('顧客名を入力してください。');
            return false;
        }

        // ここに追加処理(Ajax)
        ajaxCreateClient();

        alert('顧客を登録しました。後ほど顧客情報を追記してください。');

        // 追加顧客を選択状態へ
        var newClientId = 100;
        $('.select-client-id option').attr("selected",false);
        $('.select-client-id option:selected').attr("selected",false);
        $('.select-client-id').append('<option value="' + newClientId + '" selected>' + clientName + '</option>');
        $('.select-client-id').trigger('chosen:updated');

    }

    function ajaxCreateClient()
    {
        return true;
    }


</script>

<% include ../template/_foot %>