<%
var page = {
    title           : '請求編集',
    firstDirectory  : '請求',
    secondDirectory : '編集',
    keywords        : '',
    description     : '',
    fileName        : 'edit.html',
    pageDir        : '/invoice/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-success">
            <%- page.title %>
        </div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){



    })(jQuery);
</script>
<% include ../template/_foot %>