<%
var page = {
    title           : '請求一覧',
    firstDirectory  : '請求',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : 'index.html',
    pageDir        : '/invoice/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div style="position:absolute;"><%- page.title %></div>
                <div style="text-align: right"><span class="responsive-display-inline">検索： </span><input class="fm_search" type="text" placeholder="検索ワード" style="height:20px"></div>
            </div>
            <table id="datatables" class="table table-striped table-bordered table-hover table-bill">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>請求内容</th>
                    <th>金額</th>
                    <th>状態</th>
                    <th>受付期間</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="sort_table">
                <tr class="list_tr">
                    <td>1</td>
                    <td class="tx-bill_type tx_link">前金</td>
                    <td class="tx-bill_amount">12,000円</td>
                    <td class="tx-bill_status">請求中</td>
                    <td class="tx-bill-deadline">~2018/12/24 <b>(残り5日)</b></td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>2</td>
                    <td class="tx-bill_type tx_link">前金</td>
                    <td class="tx-bill_amount">12,000円</td>
                    <td class="tx-bill_status">請求中</td>
                    <td class="tx-bill-deadline">~2018/12/30</td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>3</td>
                    <td class="tx-bill_type tx_link">未払い金</td>
                    <td class="tx-bill_amount">1,000円</td>
                    <td class="tx-bill_status">請求中</td>
                    <td class="tx-bill-deadline">~2019/1/24</td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>4</td>
                    <td class="tx-bill_type tx_link">違約金</td>
                    <td class="tx-bill_amount">32,000円</td>
                    <td class="tx-bill_status">請求中(一部支払い済み)</td>
                    <td class="tx-bill-deadline">~2018/12/24 <b>(残り1日)</b></td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>5</td>
                    <td class="tx-bill_type tx_link">違約金</td>
                    <td class="tx-bill_amount">5,000円</td>
                    <td class="tx-bill_status">請求中</td>
                    <td class="tx-bill-deadline">~2019/2/4 <b>(残り5日)</b></td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>6</td>
                    <td class="tx-bill_type tx_link">前金</td>
                    <td class="tx-bill_amount">4,000円</td>
                    <td class="tx-bill_status">請求中</td>
                    <td class="tx-bill-deadline">~2019/3/12</td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>7</td>
                    <td class="tx-bill_type tx_link">前金</td>
                    <td class="tx-bill_amount">12,000円</td>
                    <td class="tx-bill_status">請求中</td>
                    <td class="tx-bill-deadline">~2018/12/31</td>
                    <td><button type="button" class="btn-edit btn btn-primary">編集</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="responsive-display heading-text pull-right" style="margin-top:-10px;margin-bottom:50px;padding-right:10px;"><a href="/client/create.html"><img src="/assets/img/btn/plus.png" class="btn-img" width="50px" height="50px"></a></div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal modal-bill fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="deco modal-header">
                <ul class="disp_error alert alert-danger list-unstyled" style="display: none;"></ul>
                <h5 class="modal-title" id="modal_title" style="position: absolute">請求詳細</h5>
                <h5 class="bt_change modal-title" data-dismiss="modal" style="margin:0 20px 0 0px;text-align: right;display: block"><span class="change_show1 bt_link">×</span></h5>
            </div>
            <div id="" style="display: block">
                <div class="modal-body">

                    <div class="modal-info">
                        <div class="modal-info-left">
                            請求内容
                        </div>
                        <div class="modal-info-right">
                            前金
                        </div>
                        <div class="modal-info-left">
                            金額
                        </div>
                        <div class="modal-info-right">
                            12,000円
                        </div>
                        <div class="modal-info-left">
                            状態
                        </div>
                        <div class="modal-info-right">
                            請求中
                        </div>
                        <div class="modal-info-left">
                            受付期間
                        </div>
                        <div class="modal-info-right">
                            ~2018/12/28
                        </div>
                        <div class="modal-info-left">
                            該当プロジェクト名
                        </div>
                        <div class="modal-info-right">
                            田中様半日利用
                        </div>
                        <div class="modal-info-left">
                            該当顧客名
                        </div>
                        <div class="modal-info-right">
                            田中 太郎
                        </div>

                    </div>

                    <div class="btn-doc-area">
                        <button type="button" class="btn-quotation btn btn-success">見積書</button>
                        <button type="button" class="btn-invoice btn btn-primary">請求書</button>
                        <button type="button" class="btn-receipt btn btn-warning">領収書</button>
                    </div>

                    <div class="pay-area">
                        <div class="inline-block">【支払い処理】</div>
                        <div class="fm-pay-area inline-block"><input class="fm_pay" type="text" placeholder="9000" style="height:20px"> 円</div>
                        <div class="inline-block"><button type="button" class="btn-pay btn btn-danger">支払う</button></div>
                    </div>

                    <div class="deco form-group">
                        <label id="modal_label">支払い履歴</label>
                        <table class="modal-table">
                            <tr>
                                <td>2018/12/20</td>
                                <td>3,000円</td>
                                <td>残り9,000円</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="mdl_uuid" value="">
                <button type="button" class="btn-edit btn btn-primary">編集</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

        $(document).on('click', '.tx-bill_type', function(){
            $('#modal').modal('show');
        });

        $(document).on('click', '.btn-quotation', function(){
            alert('見積書発行処理');
        });

        $(document).on('click', '.btn-invoice', function(){
            alert('請求書発行処理');
        });

        $(document).on('click', '.btn-receipt', function(){
            alert('領収書発行処理');
        });

        $(document).on('click', '.btn-pay', function(){

            var pay_amount = Number($('.fm_pay').val());

            if(pay_amount!=NaN && pay_amount>0)
            {
                if(confirm(pay_amount+'円の支払いを確定します。よろしければOKを押してください。'))
                {
                    alert('支払い処理');
                }
                else{
                    return true;
                }
            }
            else{
                alert('正しい金額を入力して下さい。');
            }
        });

        $(document).on('click', '.btn-edit', function(){
            location.href = '/bill/edit.html';
        });

        $('.fm_search').on('input', function(){
            var search_range = ['tx-bill_type','tx-bill_amount','tx-bill_status','tx-bill-deadline'];
            searchWord(search_range);
        });

        $('#datatables').addClass('nowrap').dataTable({
            responsive: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false,
            language: {
                "paginate" : {
                    "first" : "先頭",
                    "previous" : "前へ",
                    "next" : "次へ",
                    "last" : "末尾"
                }
            }
        });

    })(jQuery);

</script>
<% include ../template/_foot %>