<!-- Footer -->
<div class="footer text-muted">
    &copy; Copyright 2018 リーテックコーポレーション All Rights Reserved.
</div>
<!-- /footer -->

</div>
<!-- /content area -->

</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>
<!-- /page container -->