<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/" style="padding: 10px 20px;"><img src="/assets/img/logo_head.png" alt="" style="margin:0;height: 28px"></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <p class="navbar-text"><span class="label bg-success">ログイン中</span></p>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/assets/img/icons/1521421096WAdz0FGlsIVIHUmR0pCC.jpeg" alt="" width="30px" height="30px">
                    <span><%- site.userName %></span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/account/edit/"><i class="icon-cog5"></i> アカウント編集</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="icon-switch2"></i> ログアウト</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <!--<div class="sidebar-user">-->
                    <!--<div class="category-content">-->
                        <!--<div class="media">-->
                            <!--<a href="/profile" class="media-left"><img src="/assets/img/icons/1521421096WAdz0FGlsIVIHUmR0pCC.jpeg" class="img-circle img-sm" alt=""></a>-->
                            <!--<div class="media-body">-->
                                <!--<span class="media-heading text-semibold">Tsubasa Otsuka</span>-->
                                <!--<div class="text-size-mini text-muted">-->

                                    <!--あるかぶる案件ポータル-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="media-right media-middle">-->
                                <!--<ul class="icons-list">-->
                                    <!--<li>-->
                                        <!--<a href="/profile/edit"><i class="icon-cog3"></i></a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li class="navigation-header"><span>メインメニュー</span> <i class="icon-menu" title="Main pages"></i></li>
                            <li <% if(page.pageDir=='/'){ %>class="active"<% } %>><a href="/"><i class="icon-home4"></i> <span>ダッシュボード</span></a></li>
                            <li <% if(page.pageDir=='/project/'){ %>class="active"<% } %>>
                                <a href="#"><i class="icon-calendar2"></i> <span>プロジェクト</span></a>
                                <ul>
                                    <li><a href="/project/">プロジェクト一覧</a></li>
                                    <li><a href="/project/create.html">プロジェクト登録</a></li>
                                </ul>
                            </li>
                            <li <% if(page.pageDir=='/client/'){ %>class="active"<% } %>>
                                <a href="#"><i class="icon-user"></i> <span>顧客</span></a>
                                <ul>
                                    <li><a href="/client/">顧客一覧</a></li>
                                    <li><a href="/client/create.html">顧客登録</a></li>
                                </ul>
                            </li>
                            <li <% if(page.pageDir=='/bill/'){ %>class="active"<% } %>>
                                <a href="#"><i class="icon-balance"></i> <span>請求</span></a>
                                <ul>
                                    <li><a href="/invoice/">請求一覧</a></li>
                                    <li><a href="/invoice/create.html">請求登録</a></li>
                                </ul>
                            </li>
                            <li <% if(page.pageDir=='/account/'){ %>class="active"<% } %>>
                                <a href="#"><i class="icon-user-tie"></i> <span>社員</span></a>
                                <ul>
                                    <li><a href="/account/">社員一覧</a></li>
                                    <li><a href="/account/create.html">社員登録</a></li>
                                </ul>
                            </li>
                            <!-- /main -->
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li<% if (page.firstDirectory == '') { %> class="active"<% } %>><a href="/"><i class="icon-home2 position-left"></i> ホーム</a></li>
                        <% if (page.firstDirectory != '') { %>
                        <% if (page.secondDirectory != '') { %>
                        <li><%- page.firstDirectory %></li>
                        <li class="active"><%- page.secondDirectory %></li>
                        <% } else if (page.secondDirectory == '') { %>
                        <li class="active"><%- page.firstDirectory %></li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
            <!-- /page header -->

            <div class="content">