<%
var page = {
    title           : 'プロジェクト一覧',
    firstDirectory  : 'プロジェクト',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : 'index.html',
    pageDir        : '/project/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div style="position:absolute;"><%- page.title %></div>
                <div style="text-align: right"><span class="responsive-display-inline">検索： </span><input class="fm_search" type="text" placeholder="検索ワード" style="height:20px"></div>
            </div>
            <table id="datatables" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>プロジェクト名</th>
                    <th>ステータス</th>
                    <th>顧客名</th>
                    <th>担当者</th>
                    <th>利用日時</th>
                </tr>
                </thead>
                <tbody id="sort_table">
                <tr class="list_tr">
                    <td>1</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki">田中様半日利用</span></td>
                    <td class="tx-project_status">前金請求中</td>
                    <td class="tx-client_name">田中 太郎</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2018/12/24 13:00~17:00</td>
                </tr>
                <tr class="list_tr">
                    <td>2</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki">佐藤様前日利用</span></td>
                    <td class="tx-project_status">本予約</td>
                    <td class="tx-client_name">佐藤 公平</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2018/12/20 9:00~17:00</td>
                </tr>
                <tr class="list_tr">
                    <td>3</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki"> 松本様1時間利用</span></td>
                    <td class="tx-project_status">前金請求中</td>
                    <td class="tx-client_name">松本 大器</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2018/12/26 13:00~17:00</td>
                </tr>
                <tr class="list_tr">
                    <td>4</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki">太田様半日利用</span></td>
                    <td class="tx-project_status">違約金請求中</td>
                    <td class="tx-client_name">太田 潤</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2018/12/10 13:00~14:00</td>
                </tr>
                <tr class="list_tr">
                    <td>5</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki">高橋様2時間利用</span></td>
                    <td class="tx-project_status">前金請求中</td>
                    <td class="tx-client_name">高橋 悟</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2019/2/1 11:00~13:00</td>
                </tr>
                <tr class="list_tr">
                    <td>6</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki">小笠原様全日利用</span></td>
                    <td class="tx-project_status">前金請求中</td>
                    <td class="tx-client_name">小笠原 仁</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2019/1/11 9:00~17:00</td>
                </tr>
                <tr class="list_tr">
                    <td>7</td>
                    <td><span class="tx-project_name tx_link" data-uuid="skfnavdjlkewljnki">林様4時間利用</span></td>
                    <td class="tx-project_status">前金請求中</td>
                    <td class="tx-client_name">林 隆史</td>
                    <td class="tx-staff_name">大塚 翼</td>
                    <td class="tx-utilization_time">2019/3/19 10:00~14:00</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="responsive-display heading-text pull-right" style="margin-top:-10px;margin-bottom:50px;padding-right:10px;"><a href="/project/create.html"><img src="/assets/img/btn/plus.png" class="btn-img" width="50px" height="50px"></a></div>
    </div>
</div>
<!-- /main charts -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

        $(document).on('click', '.tx-project_name', function(){
            location.href = '/project/show.html';
        });

        $('.fm_search').on('input', function(){
            var search_range = ['tx-project_name','tx-project_status','tx-client_name','tx-staff_name','tx-utilization_time'];
            searchWord(search_range);
        });

        $('#datatables').addClass('nowrap').dataTable({
            responsive: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false,
            language: {
                "paginate" : {
                    "first" : "先頭",
                    "previous" : "前へ",
                    "next" : "次へ",
                    "last" : "末尾"
                }
            }
        });

    })(jQuery);

</script>
<% include ../template/_foot %>