<%
var page = {
    title           : 'プロジェクト詳細',
    firstDirectory  : 'プロジェクト',
    secondDirectory : '詳細',
    keywords        : '',
    description     : '',
    fileName        : 'show.html',
    pageDir        : '/project/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="deco panel panel-flat">
            <div class="panel-heading form_head deco">
                <h5 class="panel-title">サンプル案件詳細</h5>
                <input type="hidden" class="project_uuid" value="uuid">
            </div>
            <div class="panel-body deco">
                <div class="deco form-group">
                    <div class="project-info">
                        <div class="project-info-left">
                            顧客名
                        </div>
                        <div class="project-info-right">
                            田中 太郎
                        </div>
                        <div class="project-info-left">
                            利用日
                        </div>
                        <div class="project-info-right">
                            2019年3月24日
                        </div>
                        <div class="project-info-left">
                            利用時間
                        </div>
                        <div class="project-info-right">
                            13:00 ~ 16:00
                        </div>
                        <div class="project-info-left">
                            担当者
                        </div>
                        <div class="project-info-right">
                            大塚 翼
                        </div>
                        <div class="project-info-left">
                            予約ステータス
                        </div>
                        <div class="project-info-right">
                            本予約
                        </div>
                    </div>
                </div>
                <div class="deco form-group">
                    <label id="modal_label">コメント</label>
                    <div class="">
                        前回利用時、飲料類の溢した後あり。利用後チェックの際は特に要確認。
                    </div>
                </div>
                <div class="deco form-group project-show-table">
                    <label id="modal_label">請求&支払い履歴</label>
                    <table class="project-show-table">
                        <tr>
                            <th>日時</th>
                            <th>タイプ</th>
                            <th>名前</th>
                            <th>金額</th>
                            <th>備考</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>2018/3/24</td>
                            <td>請求</td>
                            <td><span class="tx_link">違約金</span></td>
                            <td>10000円</td>
                            <td>AV機器破損</td>
                            <td><button type="button" class="btn-payment btn btn-success">支払い</button></td>
                        </tr>
                        <tr>
                            <td>2018/3/15</td>
                            <td>支払い</td>
                            <td><span class="tx_link">利用料金</span></td>
                            <td>4000円</td>
                            <td>利用料金支払い完了</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2018/3/12</td>
                            <td>支払い</td>
                            <td><span class="tx_link">利用料金</span></td>
                            <td>3000円</td>
                            <td>残り4000円</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2018/3/10</td>
                            <td>請求</td>
                            <td><span class="tx_link">利用料金</span></td>
                            <td>7000円</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: right;padding:0;"><img class="btn-invoice btn-img" src="/assets/img/btn/plus.png" width="25px" height="25px"></td>
                        </tr>
                    </table>
                </div>
                <div class="text-right">
                    <button type="button" class="btn-edit btn btn-primary">編集</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

        var uuid = $('.project_uuid').val();

        $(document).on('click', '.btn-payment', function(){
            location.href = '/invoice/index.html?uuid=' + uuid;
        });

        $(document).on('click', '.btn-invoice', function(){
            location.href = '/invoice/create.html?uuid=' + uuid;
        });

        $(document).on('click', '.btn-edit', function(){
            location.href = '/project/edit.html?uuid=' + uuid;
        });

    })(jQuery);

</script>
<% include ../template/_foot %>