<%
var page = {
    title           : '利用日当日',
    firstDirectory  : '',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : '',
    pageDir         : '/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="csrf-token" content="uz7ns0XegciMjwtAtXI6LOM7LQzCQtqmwH07Pdw5">
    <link rel="apple-touch-icon" href="http://192.168.33.10/webclip.png" />
    <title>あるかぶる案件ポータル</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <link href="/assets/css/select-multiple.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/select-multiple.js"></script>
    <!--<script type="text/javascript" src="/assets/js/lib/dataTables.responsive.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="/assets/js/core/common.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
</head>

<body>
<!-- Main navbar -->

<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home2 position-left"></i> ホーム</a></li>
                        <li class="active">利用日当日</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->

            <div class="content">

                <!-- Content area -->
                <div class="row" style="margin: auto;">
                    <div class="col-lg-7">
                        <div class="use deco panel panel-flat">
                            <div class="panel-heading form_head">
                                <h5 class="panel-title">利用規約チェック</h5>
                                <div class="checkbox-area">
                                        <label for="1"><input type="checkbox" class="rule_check" id="1"> 当ギャラリーで発生した盗難は当方では一切の責任を負い兼ねます。</label>
                                        <label for="2"><input type="checkbox" class="rule_check" id="2"> 備品の傷や故障が確認された場合、違約金を請求する場合がございます。</label>
                                        <label for="3"><input type="checkbox" class="rule_check" id="3"> その他、悪質な利用と判断した場合は利用時間に関わらず退室いただく場合がございます。</label>
                                </div>
                                <div class="btn-area">
                                    <button type="button" class="btn-submit btn btn-primary">確認しました。</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /main charts -->

                <!-- Modal windoow -->
                <div id="modal" class="modal modal-client fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="deco modal-header">
                                <ul class="disp_error alert alert-danger list-unstyled" style="display: none;"></ul>
                                <h5 class="modal-title" id="modal_title" style="position: absolute">顧客詳細</h5>
                                <h5 class="bt_change modal-title" data-dismiss="modal" style="margin:0 20px 0 0px;text-align: right;display: block"><span class="change_show1 bt_link">×</span></h5>
                            </div>
                            <div id="" style="display: block">
                                <div class="modal-body">

                                    <div class="modal-info">
                                        <div class="modal-info-left">
                                            顧客名
                                        </div>
                                        <div class="modal-info-right">
                                            田中 太郎
                                        </div>
                                        <div class="modal-info-left">
                                            TEL
                                        </div>
                                        <div class="modal-info-right">
                                            090-1111-2222
                                        </div>
                                        <div class="modal-info-left">
                                            利用回数
                                        </div>
                                        <div class="modal-info-right">
                                            4回
                                        </div>
                                        <div class="modal-info-left">
                                            合計利用時間
                                        </div>
                                        <div class="modal-info-right">
                                            17時間
                                        </div>
                                    </div>

                                    <div class="deco form-group">
                                        <label id="modal_label">コメント</label>
                                        <div class="fm_text">片付けが乱暴な部分あり。5分以上時間超過あり。</div>
                                    </div>

                                    <div class="deco form-group">
                                        <label id="modal_label">利用履歴</label>
                                        <table class="modal-table">
                                            <tr>
                                                <td>2018/12/24 13:00~17:00</td>
                                                <td>田中様半日予約</td>
                                                <td>前金請求中</td>
                                            </tr>
                                            <tr>
                                                <td>2018/11/11 11:00~12:00</td>
                                                <td>田中様1時間予約</td>
                                                <td>利用済み</td>
                                            </tr>
                                            <tr>
                                                <td>2018/9/30 9:00~18:00</td>
                                                <td>田中様全日予約</td>
                                                <td>利用済み</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" class="mdl_uuid" value="">
                                <button type="button" class="btn_submit btn btn-primary">編集</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal windoow -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script type="text/javascript">

        (function($){

            $(document).on('click', '.btn-submit', function(){
                if ( $('.rule_check:not(:checked)').size() == 0 ) {
                   if(confirm('利用を開始します。\nよろしければ「はい」を押してください。')){
                       alert('利用を開始しました。\n利用終了時刻は17:00です。');
                       location.href = '/';
                   }
                }
                else{
                    alert("すべての利用規約に同意してください。");
                }
            });
//           $('#modal').modal('show');

        })(jQuery);

    </script>

</body>
</html>