<%
var page = {
    title           : '利用日当日',
    firstDirectory  : '',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : '',
    pageDir         : '/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="csrf-token" content="uz7ns0XegciMjwtAtXI6LOM7LQzCQtqmwH07Pdw5">
    <link rel="apple-touch-icon" href="http://192.168.33.10/webclip.png" />
    <title>あるかぶる案件ポータル</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <link href="/assets/css/select-multiple.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/select-multiple.js"></script>
    <!--<script type="text/javascript" src="/assets/js/lib/dataTables.responsive.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="/assets/js/core/common.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
</head>

<body>
<!-- Main navbar -->

<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home2 position-left"></i> ホーム</a></li>
                        <li class="active">利用日当日</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->

            <div class="content">

                <!-- Content area -->
                <div class="row" style="margin: auto;">
                    <div class="col-lg-7">
                        <div class="use deco panel panel-flat">
                            <div class="panel-heading form_head">
                                <h5 class="panel-title">利用後項目チェック</h5>
                                <div class="checkbox-area">
                                    <label for="c1-1"><input type="checkbox" class="end_check" id="c1-1"> 備品が元に戻されているか。</label>
                                    <label for="c1-2"><input type="checkbox" class="end_check" id="c1-2"> ゴミの処理は行われているか。</label>
                                    <label for="c1-3"><input type="checkbox" class="end_check" id="c1-3"> ギャラリーの損傷及び、使用された備品の損傷の確認。</label>
                                </div>
                                <div class="comment-area form-group">
                                    <label>コメント</label>
                                    <textarea placeholder="特筆事項があれば記述。&#13;&#10;後から追加可能。" rows="5"></textarea>
                                </div>
                                <div class="penalty-area form-group">
                                    <label>違約金有無</label>
                                    <div class="checkbox-area">
                                        <label for="c2-0"><input type="radio" class="penalty_check" name="penalty_check" id="c2-0" value="0" checked="checked"> 違約金が発生していません。</label>
                                        <label for="c2-1"><input type="radio" class="penalty_check" name="penalty_check" id="c2-1" value="1"> 違約金が発生している可能性があります。</label>
                                    </div>
                                </div>
                                <div class="btn-area">
                                    <button type="button" class="btn-submit btn btn-primary">確認しました。</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /main charts -->

                <!-- Modal windoow -->
                <!-- /Modal windoow -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script type="text/javascript">

        (function($){

            $(document).on('click', '.btn-submit', function(){

                if ( $('.end_check:not(:checked)').size() ==0 ) {
                    if($('.penalty_check:checked').val()=='0'){
                        alert('利用を終了しました。\nお疲れ様でした。');
                        location.href = '/';
                    }
                    else if($('.penalty_check:checked').val()=='1'){
                        alert('利用を終了しました。\n違約金の処理を後ほど操作してください。\nお疲れ様でした。');
                    }
                    else {
                        console.log('fatal error');
                        return false;
                    }
                }
                else{
                    alert("すべての項目を確認してください。");
                }

            });

        })(jQuery);

    </script>

</body>
</html>