<%
var page = {
    title           : '利用日当日',
    firstDirectory  : '',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : '',
    pageDir         : '/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="csrf-token" content="uz7ns0XegciMjwtAtXI6LOM7LQzCQtqmwH07Pdw5">
    <link rel="apple-touch-icon" href="http://192.168.33.10/webclip.png" />
    <title>あるかぶる案件ポータル</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <link href="/assets/css/select-multiple.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/select-multiple.js"></script>
    <!--<script type="text/javascript" src="/assets/js/lib/dataTables.responsive.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="/assets/js/core/common.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
</head>

<body>
<!-- Main navbar -->

<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home2 position-left"></i> ホーム</a></li>
                        <li class="active">利用日当日</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->

            <div class="content">

                <!-- Content area -->
                <div class="row" style="margin: auto;">
                    <div class="col-lg-7">
                        <div class="use deco panel panel-flat">
                            <div class="panel-heading form_head">
                                <h5 class="panel-title">延長確認</h5>
                                <div class="checkbox-area">
                                        <label for="0"><input type="radio" class="extension_check" name="extension_check" id="0" value="0"> 利用を終了します。</label>
                                        <label for="1"><input type="radio" class="extension_check" name="extension_check" id="1" value="1"> 利用時間を延長します。</label>
                                </div>
                                <div class="select-time-area" style="display:none;">
                                    <div class="form-group">
                                        <label>延長時間選択</label>
                                        <div class="cp_ipselect cp_sl01">
                                            <select class="select-time" name="select-time">
                                                <option value="0">延長時間選択</option>
                                                <option value="1">1時間</option>
                                                <option value="2">2時間</option>
                                                <option value="3">3時間</option>
                                                <option value="4">4時間</option>
                                                <option value="5">5時間</option>
                                                <option value="6">6時間</option>
                                                <option value="7">7時間</option>
                                                <option value="8">8時間</option>
                                                <option value="9">9時間</option>
                                            </select>
                                            <input type="hidden" class="is_holiday" value="0">
                                            <input type="hidden" class="fee_holiday" value="4560">
                                            <input type="hidden" class="fee_weekday" value="3800">
                                            <input type="hidden" class="rate_tax" value="8">
                                            <input type="hidden" class="end_hour" value="17">
                                            <input type="hidden" class="end_minute" value="00">
                                        </div>
                                        <div class="calc-fee-area" style="display: none"></div>
                                    </div>
                                </div>
                                <div class="btn-area">
                                    <button type="button" class="btn-submit btn btn-primary">送信</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /main charts -->

                <!-- Modal windoow -->
                <!-- /Modal windoow -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script type="text/javascript">

        (function($){

            $(document).on('change', 'input[name=extension_check]', function(){
                if($(this).val()==0)
                {
                    $('.select-time-area').slideUp();
                    $('.calc-fee-area').slideUp();
                    $('.select-time').val(0);
                }
                else
                {
                    $('.select-time-area').slideDown();
                }

            });

            $(document).on('change', '.select-time', function() {
                if($('.select-time').val()!=0)
                {
                    var fee = calcFee($('.select-time').val());

                    $('.calc-fee-area').empty();
                    $('.calc-fee-area').append('利用料金：'+ fee +'円');
                    $('.calc-fee-area').slideDown();
                }
                else
                {
                    $('.calc-fee-area').slideUp();
                }
            });

            $(document).on('click', '.btn-submit', function(){

                if($('input[name=extension_check]:checked').val()=='0')
                {
                    if(confirm('以降の延長は出来ません。\nよろしければ「はい」を押してください。'))
                    {
                        location.href ='/use/index3.html';
                    }
                }
                else
                {
                    if($('.select-time').val()!=0)
                    {
                        if(checkExtension())
                        {
                            var fee = calcFee($('.select-time').val());
                            var endTime = (Number($('.end_hour').val())+Number($('.select-time').val())) +':'+ $('.end_minute').val();

                            if(confirm('延長可能の確認が出来ました。\n延長料金'+ fee +'円が支払われたら「OK」を押してください。'))
                            {
                                // ここに延長処理
                                alert($('.select-time').val()+'時間の延長を行いました。\n利用終了時間は'+ endTime +'です。');
                                location.href = '/';
                            }
                        }
                        else
                        {
                            // ここに原因解明処理
                            alert('延長出来ませんでした。\n理由：他の利用時間と重複。');
                        }
                    }
                    else
                    {
                        alert('延長時間を選択してください。');
                    }
                }

            });

        })(jQuery);

        function calcFee(time)
        {
            var isHoliday = $('.is_holiday').val();
            var feeHoliday = $('.fee_holiday').val();
            var feeWeekday = $('.fee_weekday').val();
            var rateTax = 1 + 0.01 * $('.rate_tax').val();

            if(isHoliday=='0')
            {
                fee = feeHoliday * time * rateTax;
            }
            else
            {
                fee = feeWeekday * time * rateTax;
            }

            return String(Math.round(fee)).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
        }

        function checkExtension()
        {
            return Math.random() >= 0.5;
        }


    </script>

</body>
</html>