<%
var page = {
    title           : 'ダッシュボード',
    firstDirectory  : '',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : '',
    pageDir         : '/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ./template/_head %>
<% include ./template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="deco panel panel-flat">
            <div class="panel-heading form_head">
                <h5 class="panel-title">本日の利用</h5>
                <div class="btn-use-area">
                    <div class="inline-block">
                        <button type="button" class="btn-use btn btn-success" value="1">10:00~12:00<br>田中 太郎様</button>
                    </div>
                    <div class="inline-block">
                        <button type="button" class="btn-use btn btn-primary" value="0">16:00~17:00<br>小笠原 仁様</button>
                    </div>
                    <div class="inline-block ">
                        <div>■ : 利用前</div>
                        <div>■ : 利用中</div>
                        <div>■ : 利用終了</div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ./template/_site-footer %>

<script type="text/javascript">

    (function($){

        $(document).on('click', '.btn-use', function() {

            if($(this).val()=='0')
            {
                location.href = '/use';
            }
            else if($(this).val()=='1')
            {
                location.href = '/use/index2.html';
            }

        });

    })(jQuery);
</script>
<% include ./template/_foot %>