<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/assets/login/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/login/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/login/css/addition.css">
    <link rel="stylesheet" href="/assets/login/css/style.css">
    <link rel="stylesheet" href="/assets/css/style.css?date=1526267664">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="http://192.168.33.10/webclip.png">
    <link rel="apple-touch-icon" href="http://192.168.33.10/webclip.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://192.168.33.10/webclip.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://192.168.33.10/webclip.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://192.168.33.10/webclip.png">
    <link rel="apple-touch-icon-precomposed" href="http://192.168.33.10/webclip.png">

</head>
<body>
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text responsive_login">
                    <img src="/assets/images/logo.png" alt="">
                    <div class="description">
                        <p>
                            ギャラリーあるかぶる案件ポータル
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-top: 15px;">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>ログイン</h3>
                            <p>登録アドレスとパスワードを入力してください。</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" class="login-form" method="POST" action="http://192.168.33.10/login">
                            <input type="hidden" name="_token" value="wqzwX0kRQQsg5U3xg5BSsmBmZvUnR4yNGGDxleBK">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">メールアドレス</label>
                                <input id="email" type="email" class="form-control" name="email" value="" placeholder="メールアドレス" required autofocus />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">パスワード</label>
                                <input type="password" name="password" placeholder="パスワード" class="form-control" id="password" required />
                            </div>
                            <button type="submit" class="btn create_btn">ログイン</button>
                            <div style="text-align: right">
                                <!--パスワードを忘れた方は<a href="http://192.168.33.10/password/reset">こちら</a>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="/assets/login/js/jquery-1.11.1.min.js"></script>
<script src="/assets/login/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/login/js/jquery.backstretch.min.js"></script>
<script src="/assets/login/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="/assets/login/js/placeholder.js"></script>
<![endif]-->

<script>

    (function($){

    })(jQuery);

</script>
</body>
</html>
