<%
var page = {
    title           : 'テスト用ページ',
    firstDirectory  : '',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : '',
    pageDir         : '/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>

<% include ./template/_head %>
<% include ./template/_site-header %>
<link rel="stylesheet" href="/assets/js/lib/pickadate/themes/classic.css">
<link rel="stylesheet" href="/assets/js/lib/pickadate/themes/classic.date.css">
<script type="text/javascript" src="/assets/js/lib/pickadate/picker.js"></script>
<script type="text/javascript" src="/assets/js/lib/pickadate/picker.date.js"></script>
<script type="text/javascript" src="/assets/js/lib/pickadate/legacy.js"></script>
<script type="text/javascript" src="/assets/js/lib/pickadate/lang-ja.js"></script>


<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="deco panel panel-flat">
            <div class="panel-heading form_head">
                <h5 class="panel-title">本日の利用</h5>
                <div class="btn-use-area">
                    <div class="inline-block">
                        <button type="button" class="btn-submit btn btn-primary">10:00~12:00<br>田中 太郎様</button>
                    </div>
                    <div class="inline-block">
                        <button type="button" class="btn-submit btn btn-primary">16:00~17:00<br>小笠原 仁様</button>
                    </div>
                </div>
            </div>
            <fieldset class="fieldset">
                <input id="demo001"  type="text" placeholder="クリックしてください">
            </fieldset>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ./template/_site-footer %>

<script type="text/javascript">

    $(function() {
        $('#demo001').pickadate();
    });

</script>
<% include ./template/_foot %>