<%
var page = {
    title           : '顧客登録',
    firstDirectory  : '顧客',
    secondDirectory : '登録',
    keywords        : '',
    description     : '',
    fileName        : 'create.html',
    pageDir        : '/client/create',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="col-md-15">

            <!-- Basic layout-->
            <form action="" name="" id="" method="post">
                <div class="fm_project deco panel panel-flat">
                    <div class="panel-heading form_head">
                        <h5 class="panel-title"><%- page.title %></h5>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label>顧客名</label>
                            <input type="text" name="client-name" class="client-name form-control" placeholder="" value="" required />
                        </div>

                        <div class="form-group">
                            <label>TEL</label>
                            <input type="text" name="client-tel" class="client-tel form-control" placeholder="" value="" />
                        </div>

                        <div class="form-group">
                            <label>メールアドレス</label>
                            <input type="text" name="client-email" class="client-email form-control" placeholder="" value="" />
                        </div>

                        <div class="form-group">
                            <label>コメント</label>
                            <textarea name="client-comment" class="client-comment form-control" placeholder="備考があればここに記入"></textarea>
                        </div>

                        <div class="text-right">
                            <button type="button" class="btn-submit btn btn-primary">登録</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal modal-project fade">
</div>
<!-- /Modal windoow -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

    })(jQuery);

</script>

<% include ../template/_foot %>