<%
var page = {
    title           : '顧客一覧',
    firstDirectory  : '顧客',
    secondDirectory : '',
    keywords        : '',
    description     : '',
    fileName        : 'index.html',
    pageDir        : '/client/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div style="position:absolute;"><%- page.title %></div>
                <div style="text-align: right"><span class="responsive-display-inline">検索： </span><input class="fm_search" type="text" placeholder="検索ワード" style="height:20px"></div>
            </div>
            <table id="datatables" class="table table-striped table-bordered table-hover table-client">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>顧客名</th>
                    <th>TEL</th>
                    <th>最終利用日</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="sort_table">
                <tr class="list_tr">
                    <td>1</td>
                    <td class="tx-client_name tx_link">田中 太郎</td>
                    <td class="tx-client_tel">090-1111-1111</td>
                    <td class="tx-client_utilization_time">2018/12/24</td>
                    <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>2</td>
                    <td class="tx-client_name tx_link">佐藤 公平</td>
                    <td class="tx-client_tel">090-1221-1111</td>
                    <td class="tx-client_utilization_time">2018/2/4</td>
                   <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>3</td>
                    <td class="tx-client_name tx_link">松本 大器</td>
                    <td class="tx-client_tel">090-1111-1331</td>
                    <td class="tx-client_utilization_time">2018/3/23</td>
                    <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>4</td>
                    <td class="tx-client_name tx_link"><span class="black-icon"></span>太田 潤</td>
                    <td class="tx-client_tel">090-1111-1411</td>
                    <td class="tx-client_utilization_time">2018/1/24</td>
                    <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>5</td>
                    <td class="tx-client_name tx_link">高橋 悟</td>
                    <td class="tx-client_tel">080-1111-1111</td>
                    <td class="tx-client_utilization_time">2018/12/1</td>
                    <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>6</td>
                    <td class="tx-client_name tx_link">小笠原 仁</td>
                    <td class="tx-client_tel">090-1551-1111</td>
                    <td class="tx-client_utilization_time">2018/10/24</td>
                    <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                <tr class="list_tr">
                    <td>7</td>
                    <td class="tx-client_name tx_link">林 隆史</td>
                    <td class="tx-client_tel">090-1111-4213</td>
                    <td class="tx-client_utilization_time">2016/12/24</td>
                    <td><button type="button" class="btn_edit btn btn-primary">編集</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="responsive-display heading-text pull-right" style="margin-top:-10px;margin-bottom:50px;padding-right:10px;"><a href="/client/create.html"><img src="/assets/img/btn/plus.png" class="btn-img" width="50px" height="50px"></a></div>
    </div>
</div>
<!-- /main charts -->

<!-- Modal windoow -->
<div id="modal" class="modal modal-client fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="deco modal-header">
                <ul class="disp_error alert alert-danger list-unstyled" style="display: none;"></ul>
                <h5 class="modal-title" id="modal_title" style="position: absolute">顧客詳細</h5>
                <h5 class="bt_change modal-title" data-dismiss="modal" style="margin:0 20px 0 0px;text-align: right;display: block"><span class="change_show1 bt_link">×</span></h5>
            </div>
            <div id="" style="display: block">
                <div class="modal-body">

                    <div class="modal-info">
                        <div class="modal-info-left">
                            顧客名
                        </div>
                        <div class="modal-info-right">
                            田中 太郎
                        </div>
                        <div class="modal-info-left">
                            TEL
                        </div>
                        <div class="modal-info-right">
                            090-1111-2222
                        </div>
                        <div class="modal-info-left">
                            利用回数
                        </div>
                        <div class="modal-info-right">
                            4回
                        </div>
                        <div class="modal-info-left">
                            合計利用時間
                        </div>
                        <div class="modal-info-right">
                            17時間
                        </div>
                    </div>

                    <div class="deco form-group">
                        <label id="modal_label">コメント</label>
                        <div class="fm_text">片付けが乱暴な部分あり。5分以上時間超過あり。</div>
                    </div>

                    <div class="deco form-group">
                        <label id="modal_label">利用履歴</label>
                        <table class="modal-table">
                            <tr>
                                <td>2018/12/24 13:00~17:00</td>
                                <td>田中様半日予約</td>
                                <td>前金請求中</td>
                            </tr>
                            <tr>
                                <td>2018/11/11 11:00~12:00</td>
                                <td>田中様1時間予約</td>
                                <td>利用済み</td>
                            </tr>
                            <tr>
                                <td>2018/9/30 9:00~18:00</td>
                                <td>田中様全日予約</td>
                                <td>利用済み</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="mdl_uuid" value="">
                <button type="button" class="btn_edit btn btn-primary">編集</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal windoow -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

        $(document).on('click', '.tx-client_name', function(){
            $('#modal').modal('show');
        });


        $('.fm_search').on('input', function(){
            var search_range = ['tx-client_name','tx-client_tel','tx-client_utilization_time'];
            searchWord(search_range);
        });

        $('#datatables').addClass('nowrap').dataTable({
            responsive: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false,
            language: {
                "paginate" : {
                    "first" : "先頭",
                    "previous" : "前へ",
                    "next" : "次へ",
                    "last" : "末尾"
                }
            }
        });

    })(jQuery);

</script>
<% include ../template/_foot %>