<%
var page = {
    title           : '社員登録',
    firstDirectory  : '社員',
    secondDirectory : '登録',
    keywords        : '',
    description     : '',
    fileName        : 'create.html',
    pageDir        : '/account/',
    customHead      : '',
    customFoot      : '',
    thirdpartyScripts: ''
};

%>
<% include ../template/_head %>
<% include ../template/_site-header %>

<!-- Content area -->
<div class="row">
    <div class="col-lg-7">

        <div class="col-md-15">

            <!-- Basic layout-->
            <form action="" name="" id="" method="post">
                <div class="fm_account deco panel panel-flat">
                    <div class="panel-heading form_head">
                        <h5 class="panel-title"><%- page.title %></h5>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>社員名</label>
                            <input type="text" name="account_name" class="form-control account_name" placeholder="田中 太郎" maxlength="50" value="" required />
                        </div>

                        <div class="form-group">
                            <label>連絡先</label>
                            <input type="text" name="account_tel" class="form-control account_tel" placeholder="090-0000-0000" maxlength="13" value="" required />
                        </div>

                        <div class="form-group">
                            <label>メールアドレス</label>
                            <input type="text" name="account_email" class="form-control account_email" placeholder="alkable@support.com" maxlength="255" value="" required />
                        </div>

                        <div class="form-group">
                            <label>ログインパスワード</label>
                            <input type="password" name="account_email" class="form-control account_password" placeholder="" maxlength="255" value="" required />
                        </div>

                        <div class="text-right">
                            <button type="button" class="btn-submit btn btn-primary">登録</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /main charts -->

<% include ../template/_site-footer %>

<script type="text/javascript">

    (function($){

        $(document).on('click', '.btn-submit', function(){
            alert('登録処理');
        });

    })(jQuery);
</script>
<% include ../template/_foot %>